html {height: 100%;}

/*Font start*/
/* latin */
@font-face {
  font-family: 'Electrolize';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/electrolize/v14/cIf5Ma1dtE0zSiGSiED7AXEBuI8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/*Font end*/

/*Body start*/
body {
  margin: 0;
  height: 100%;
  background-color: #000000;
  font-family: Electrolize, sans-serif;
  font-size: 1.5vw;
  background-size: 400% 400%;
  }
/*Body end*/

/*hyperlink config start*/
a {
  text-decoration: none;
  color: #c8c8c8;
}
/*hyperlink config end*/

/*headings start*/
h1{
  margin:0;
  font-size: 275%;
  color: #ffffff;
}

h2{
  margin:0;
  font-size: 225%;
  color: #c8c8c8;
}

h3{
  margin:0;
  font-size: 175%;
  color: #646464;
}

h4{
  margin:0;
  font-size: 125%;
  color: #969696;
}

#header {
  background-color: #000000;
  color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
}
/*headings end*/

#container { /*original width 80%*/
  background-color: #191919;
  width: 80%;
  min-height: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  color: #969696;
}


#content {
  padding: 10px;
  padding-bottom: 2.5rem;    /* extra space for footer's height */
}


/*Text Colour for the site*/
p{
  color: #999999;
}
li{
  color: #999999;
}
/*Text colour for the site end*/


/*list format start*/
dd{
  display: list-item;
  list-style-type: "→";
  padding-inline-start:1ch;
}
/*list format end*/


/*navigation bar (pages) start*/
ul{
  list-style: none;
}

ul.nav {
  width:8%;
  font-size: 80%;
  position: fixed;
  middle: 0;
  right: 0;
  padding: 0px;
  background-color: clear;
  text-align: center;
}
ul.nav > li {

  padding: 10px 20px;
}
ul.nav > li:hover {
  background-color: #646464;
}
ul.nav > li > a {
  color: #ff6400;
  text-decoration: none;
}
/*navigation bar (pages) end*/


/*navigation bar (project page) start*/
ul.navproject {
  width:8%;
  font-size: 75%;
  position: fixed;
  middle: 0;
  left: 0;
  padding: 0px;
  background-color: clear;
  text-align: center;
}
ul.navproject > li {

  padding: 5px;
}
ul.navproject > li:hover {
  background-color: #646464;
}
ul.navproject > li > a {
  color: #ffff00;
  text-decoration: none;
}
/*navigation bar (project page) end*/


/*image config start*/
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/*image config end*/


/*Table config start*/

table {
  width: 100%;
}

th {
  height: 70px;
}

/*Table config end*/


/* FOOTER CODE ---DO NOT TOUCH--- */
#footer {
  text-indent: 7.5%;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  background-color:#000000;
  color: #ffffff;
  text-align: right;
  font-size: 80%;
}
/* FOOTER CODE ---DO NOT TOUCH--- */
